body {
  background-color: white;
}

.App {
  text-align: center;
}

h1 {
  background-color: purple;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.pokemonList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  margin: auto;
}

.pokemonCard {
  width: 200px;
  height: 250px;
  border: solid 3px purple;
  border-radius: 40px;
  margin: 20px;
}

img {
  padding-top: 10px;
}

.pokemon-name h2 {
  font-size: 26px;
  text-align: center;
}

.type {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
